
<div id="footerfull">
    <div id="footerimage">
        <img src="img/email.png" />
        <img src="img/fb.png" />
        <img src="img/ig.png" />
    </div>
    <div id="footertext">
        <h1>Tierheim Dhili & Justus</h1>
        <h2><a href="">Kontakt</a> | Impressum | Datenschutzhinweis </h2>
    </div>
</div>



