@inherits LayoutComponentBase

<PageTitle>TierheimDhiliUndJustus</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>

    <Footer />
</div>
