a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1vw;
    font-style: normal;
}

li {
    list-style: none;
    display: inline-block;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin-left: 1vw;
}

ul {
    background-color: #519A73;
}

li > a > h2 {
    padding-bottom: 0vw;
    margin-bottom: 0vw;
    font-size: 1vw;
    text-transform: capitalize;
}

li > a > h1 {
    font-size: 1vw;
}

li:first-child {
    padding-right: 1vw;
}

li > a > img {
    height: 1vw;
    position: absolute;
    right: 1vw;
    top: 1vw;
}
