a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1vw;
    font-style: normal;
}

li {
    list-style: none;
    display: inline-block;
    padding-left: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

ul {
    background-color: #339974;
}

li > a > h2 {
    margin-bottom: 0vw;
    font-size: 0.8vw;
    text-transform: capitalize;
}

li > a > h1 {
    font-size: 1vw;
}

li:first-child {
    padding-right: 12vw;
}

li > a > img {
    height: 2.1vw;
    position: absolute;
    right: 5vw;
    top: 1.4vw;
}

li:last-child{
    padding-left: 25vw;
}
