<ul>
    <li><a href=""><h2>Tierheim</h2><h1>Dhili & Justus</h1></a></li>
    <li><a href="">Unsere Tiere</a></li>
    <li><a href="">Fundtiere</a></li>
    <li><a href="">Spenden</a></li>
    <li><a href="">Kontakt</a></li>
    <li><a href="">Anmelden<img src="img/email.png" /></a></li>
</ul>
