a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-style: normal;
}

li {
    list-style: none;
    display: inline-block;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
}

ul {
    background-color: #519A73;
}

li > a > h2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    text-transform: capitalize;
}

li > a > h1 {
    font-size: 20px;
}

li:first-child {
    padding-right: 200px;
}

li > a > img {
    height: 45px;
    position: absolute;
    right: 100px;
    top: 30px;
}
