h1 {
    font-size: 1.5vw;
    margin-bottom: 1vw;
}

#ueberschrift {
    margin-left: 7.5vw;
    margin-top: 4vw;
    margin:3vw,0vw,0vw,4.7vw;
    color: rgb(81,154,114);
    display:flex;
}



#emailinput, #passwordinput {
    margin-left: 7vw;
    background-color: rgba(81,154,114,11%);
    width: 27vw;
    border-radius: 15px;
    height: 2.5vw;
    font-size: 1vw;
}

#passwordinput2 {
    background-color: rgba(81,154,114,11%);
    width: 27vw;
    border-radius: 15px;
    height: 2.5vw;
    font-size: 1vw;
    margin-top: 2vw;
    margin-bottom:1vw;
}

#passwordinput2 > a {
    margin-left: 1vw;
    position: relative;
    top: 20%;
    
}


input[type=email] {
    padding-left: 1.2vw;
}

input[type=email]:focus, input[type=password]:focus, input[type=text]:focus {
     outline: none !important;
     border-color: #719ECE;
     box-shadow: 0 0 0px;
     
}

input[type=email], input[type=password], input[type=text] {
    background-color: rgba(81,154,114,0%);
    border-style: none;
    margin-left: 0.5vw;
    position: relative;
    top: 20%;
    width: 15vw;    
}



#emailinput > a, #passwordinput > a {
    margin-left: 1vw;
    position: relative;
    top: 20%;
}

#email, #schloss {
    height: 1.5vw;
    width: 1.5vw;
    position: relative;
    top: 17%;
    margin-left: 1vw;
}

#passwordinput {
    margin-top: 1vw;
}

#closedeye {
    height: 0.6vw;
    width: 0.8vw;
    position: relative;
    top: 20%;
}

#termine, #spenden {
    margin-left: 7.5vw;
    margin-bottom: 5vw;
}



tr > th{
    font-size:1.2vw;
    padding-right:2.5vw;
    padding-bottom:0.5vw;

}

tr > td{
    font-size:1vw;
    padding-bottom:0.5vw;
}

#datenaendern{
    margin-left:7.5vw;
    margin-top:1.5vw;
    text-decoration:underline;
      
}

#remove:hover{
    cursor:pointer;
}

input[type=button] {
    color: white;
    background-color: #339974;
    border: none;
    font-size: 1vw;
    display: block;
    height: 2.5vw;
    width: 9vw;
}


input[type=button]:hover {
    background-color: #2A8262;
}

#fehlermeldung {
    color: red;
    font-size: 0.8vw;
    margin-right: 7vw;
}

#remove > img {
    width:0.8vw;
    height: 0.8vw;
    margin-right: 0.5vw;
}

#remove > a {
    color: #e6223e;
    font-size:0.6vw;
}

#remove > a:hover{
    cursor:pointer;
}

#confirmerror {
    display: flex;
    margin-left: 7vw;
    margin-top: 2vw;
}

#accountverwalten{
    margin-left: 7.5vw;
    display:flex;
}

#accountverwalten > input[type=button] {
    margin-top: 1vw;
    margin-right: 0.8vw;
    background-color: #A3D3B9;
}


#loeschen{
    margin-left:7.5vw;
    margin-top:2vw;
}

#loeschen > a{
    margin-bottom:10vw;
    font-size:1.2vw;
}

#actionbuttons > input[type=button] {
    margin-top: 1vw;
    margin-right: 0.8vw;
    background-color: #A3D3B9;
}

#actionbuttons {
    display: flex;
}

#pfeiltermine, #pfeilspende{
    width:1.5vw;
    height:1.5vw;
    margin-left:0.5vw;
    margin-top:0.2vw;
}

#fehlernichtvorhanden{
    margin-left: 7.5vw;
    font-weight:bold;
    margin-bottom:0vw;
}



#seitenlink {
    margin-top: 0vw;
    color: #339974;
}

.submitanderror {
    text-align: center;
    margin: 11vw;
}

.submitanderror > h1 {
    font-size: 1.7vw;
    text-transform: uppercase;
    color: #339974;
    margin-bottom: 1vw;
}

.submitanderror > h2 {
    font-size: 1.2vw;
    text-transform: uppercase;
    margin: 2vw;
}

.submitanderror > input {
    display: block;
    margin: auto;
}

.submitanderror > p > a {
    color: black;
}

.submitanderror > p {
    font-size: 1vw;
}

