@page "/login"
@inject IJSRuntime js;
@inject AuthenticationStateProvider authStateProvider;
@inject NavigationManager navManager
@using TierheimDhiliUndJustus.BLL;
@using TierheimDhiliUndJustus.DAL;
@using MySqlConnector;
@using System.Drawing;
@using System.Data.SqlClient;
@using System.IO;

@layout EmptyLayout;

<PageTitle>Anmelden</PageTitle>

<head>
    <link href="css/login.css" rel="stylesheet" type="text/css" />
</head>

<div id="loginpage">

    <div id="backtohome"><a href="/">Zurück zur Startseite</a></div>

    <div id="Upperpart">
        <div id="logo"><h1>Anmelden</h1></div>
    </div>

    <div id="emailinput">
        <img id="email" src="/img/email2.png" />
        <a>E-Mail:</a>  
        <input type="email" name="email" @bind="evalue">   
    </div>

    <div id="passwordinput">
        <img id="schloss" src="/img/schloss.png" />
        <a>Passwort:</a>  
        <input type="@anmelden_inputtype" name="password" @bind="pwvalue"> 
        <img id="closedeye" src="@anmelden_augenart" @onclick="eventArgs => { WichtigeMethoden.ShowPasswort(1);}" />
    </div>

    @if(fehlermeldung!="")
    {
        <div id="fehlermeldung">@fehlermeldung</div>
    }

    <div id="anmelden"><input type="button" name="anmelden" value="Anmelden" @onclick="Anmelden"></div>


    <div id="bereitsaccount">
        <a>Du hast noch kein Konto?</a><a id="registrieren" href="registrieren">Registrieren</a>
    </div>
</div>



}









