@page "/registrieren"
@inject NavigationManager navManager
@using TierheimDhiliUndJustus.BLL;
@using TierheimDhiliUndJustus.DAL;
@using MySqlConnector;
@using System.Drawing;
@using System.Data.SqlClient;
@using System.IO;
@layout EmptyLayout;


<head>
    <link href="css/login.css" rel="stylesheet" type="text/css" />
</head>

<div id="loginpage">
<PageTitle>Registrieren</PageTitle>

<div id="backtohome"><a href="/">Zurück zur Startseite</a></div>

<div id="Upperpart">
    <div id="logo"><h1>Registrieren</h1></div>
</div>

<div id="emailinput">
    <img id="email" src="/img/email2.png" />
    <a>E-Mail:</a>  
    <input type="email" name="email" @bind="evalue">   
</div>

<div id="passwordinput">
    <img id="schloss" src="/img/schloss.png" />
    <a>Passwort:</a>  
    <input type="@registrieren_inputtype" name="password" @bind="pwvalue"> 
    <img id="closedeye" src="@registrieren_augenart" @onclick="eventArgs => { WichtigeMethoden.ShowPasswort(2);}" />
</div>

@if(fehlermeldung!="")
{
    <div id="fehlermeldung">@fehlermeldung</div>
}

<div id="registrieren"><input type="button" name="registrieren" value="Registrieren" @onclick="Kundeerstellen"></div>

<div id="bereitsaccount">
<a>Du hast bereits ein Konto?</a><a id="anmelden" href="login">Anmelden</a>
</div>
</div>












