@page "/"

<PageTitle>Startseite</PageTitle>

<img id="startseitebanner" src="img/banner.jpg" alt="Willkommen im Tierheim">

<div id="neuetiere">
    <img id="neuetiere_ueschrift" src="/img/neuzuganege.png" alt="Unsere Neuzugänge"/>
    <div class="neuetiere_rahmen"><img class="neuetiere_bilder" src="/img/tier_rosie.jpg" alt="Rosie"/></div>
    <div class="neuetiere_rahmen"><img class="neuetiere_bilder" src="/img/tier_sophie.jpg" alt="Sophie"/></div>
    <div class="neuetiere_rahmen"><img class="neuetiere_bilder" src="/img/tier_cisco.jpg" alt="Cisco"/></div>
</div>

