@page "/"
@using TierheimDhiliUndJustus.BLL
@using TierheimDhiliUndJustus.DAL



<PageTitle>Startseite</PageTitle>

<img id="startseitebanner" src="img/banner.jpg" alt="Willkommen im Tierheim">

<div id="neuetiere">
    <img id="neuetiere_ueschrift" src="/img/neuzuganege.png" alt="Unsere Neuzugänge"/>
    <div id="neuetiere_bilder">
            
    @foreach(var item in lsttier)
    {
        string srcgeschlecht = GetGeschlecht(item.ID_Tier);
        string srcimg = "img/tiere/" + @item.Tiername + ".jpg";

        if(counter <=2)
        {
        <div class="neuetiere_rahmen"><img class="neuetiere_bild" src="@srcimg" />
        <h1>@item.Tiername</h1>
        <img class="neuetiere_geschlecht" src=@srcgeschlecht /></div>
        counter++;
        }
    }
    </div>
            
    
    <a href="unseretiere"><h2>Weitere Tiere ansehen</h2></a>

</div>


<a href=""><div id="vermisstbanner"></div></a>

<a href=""><div id="spendenbanner"></div></a>




