@page "/"
@using TierheimDhiliUndJustus.BLL
@using TierheimDhiliUndJustus.DAL



<PageTitle>Startseite</PageTitle>

<img id="startseitebanner" src="img/banner.jpg" alt="Willkommen im Tierheim">

<div id="neuetiere">
    <img id="neuetiere_ueschrift" src="/img/neuzuganege.png" alt="Unsere Neuzugänge"/>
    <div id="neuetiere_bilder">
            
    @foreach(var item in lsttier)
    {
        if(counter <=2)
        {
        <div class="neuetiere_rahmen"><img class="neuetiere_bild" src="/img/tier_sophie.jpg" alt="Sophie"/>
        <h1>@item.Tiername</h1>
        <img class="neuetiere_geschlecht" src="img/weiblich.png" /></div>
        counter++;
        }
    }
    </div>
            
    <a href=""><h2>Weitere Tiere ansehen</h2></a>

</div>





