@page "/"

<PageTitle>Startseite</PageTitle>

<img id="startseitebanner" src="img/willkommenbanner.jpg" alt="Willkommen im Tierheim">

<div id="neuetiere">
    <img id="neuetiere_ueschrift" src="/img/neuzuganege.png" alt="Unsere Neuzugänge"/>
    <div id="neuetiere_bilder">
        <div class="neuetiere_rahmen"><img class="neuetiere_bild" src="/img/tier_rosie.jpg" alt="Rosie"/>
            <h1>Rosie</h1>
            <img class="neuetiere_geschlecht" src="img/weiblich.png" /></div>
        <div class="neuetiere_rahmen"><img class="neuetiere_bild" src="/img/tier_sophie.jpg" alt="Sophie"/>
            <h1>Sophie</h1>
            <img class="neuetiere_geschlecht" src="img/weiblich.png" /></div>
        <div class="neuetiere_rahmen"><img class="neuetiere_bild" src="/img/tier_cisco.jpg" alt="Cisco"/>
            <h1>Cisco</h1>
            <img class="neuetiere_geschlecht" src="img/männlich.png" /></div>
    </div>
    <a href=""><h2>Weitere Tiere ansehen</h2></a>
</div>

<a href=""><div id="vermisstbanner"></div></a>

<a href=""><div id="spendenbanner"></div></a>

