body {
}

#backnav {
    background-color: #A3D3B9;
    height: 2.5vw;
    width: 100%;
    margin-top: -0.9vw;
    padding-left: 4.7vw;
    padding-top: 0.6vw
}

#backnav > p {
    color: white;
    display: inline-block;
}

#backnav > a {
    color: white;
    text-decoration: none;
    display: inline-block;
}
#tierdetail_info{
    background-image: url("img/green_bones.png");
    padding: 2vw;
    width: 40vw;
    display: inline-block;
    margin-left: 4vw;
    top: 10vw;
    position: absolute;
}
img {
    height: 17vw;
    width: 17vw;
    object-fit: cover;
    display: inline;
    padding-left: 1vw;
    padding-top: 1vw;
}

#tierdetail_rahmen {
    display: inline-block;
    height: 18vw;
    width: 18vw;
    padding: 0vw;
    background-color: rgba(81, 154, 114, 50%);
    margin-top: 3vw;
    margin-left: 19vw;
}
#tierdetail_info > table > tr > td{
    padding: 0.6vw;
}
#tierdetail_info > table > tr > td > h1 {
    font-size: 1.2vw;
    text-transform: uppercase;
    color: black;
    display: inline-block;
}
#tierdetail_info > table > tr > td > h2 {
    font-size: 1.2vw;
    color: black;
}
#tierdetail_info >table > tr > td:nth-last-of-type(2n+2){
    width: 30%;
}
#tierdetail_info > table > tr > td > input {
    height: 3vw;
    width: 13vw;
    color: white;
    background-color: #339974;
    border: none;
    font-size: 1vw;
}

#weiteretiere > .weiteretiere_bild {
    height: 17vw;
    width: 17vw;
    object-fit: cover;
    display: inline-block;
    margin: 0.5vw;
}

#weiteretiere > .weiteretiere_rahmen {
    display: inline-block;
    height: 22vw;
    width: 18vw;
    padding: 0vw;
    margin-top: -1.8vw;
    background-color: rgba(81, 154, 114, 50%);
    margin: 1.5vw;
}

#weiteretiere > .weiteretiere_rahmen > h1 {
    font-size: 1.2vw;
    text-transform: uppercase;
    color: white;
    padding: 1vw;
    display: inline-block;
}

#weiteretiere > .weiteretiere_rahmen > h1:hover {
    cursor: pointer;
}

#tierdetail_weiteretiere > #weiteretiere_ueberschrift {
    font-size: 1.7vw;
    text-transform: uppercase;
    color: #339974;
    margin-left: 17.5vw;
}

#tierdetail_weiteretiere{
    margin-top: 16vw;
    margin-left: 16vw;
}