body {
}

#tierdetail_info{
    background-image: url("img/green_bones.png");
    padding: 2vw;
    width: 40vw;
    display: inline-block;
    margin-left: 4vw;
    top: 10vw;
    position: absolute;
}
img {
    height: 17vw;
    width: 17vw;
    object-fit: cover;
    display: inline;
    padding-left: 1vw;
    padding-top: 1vw;
}

#tierdetail_rahmen {
    display: inline-block;
    height: 22vw;
    width: 18vw;
    padding: 0vw;
    background-color: rgba(81, 154, 114, 30%);
    margin-top: 3vw;
    margin-left: 19vw;
}
#button_adoptieren {
    margin-top: 1vw;
    margin-left: 2.5vw;
}

#tierdetail_info > table > tr > td{
    padding: 0.6vw;
}
#tierdetail_info > table > tr > td > h1 {
    font-size: 1.2vw;
    text-transform: uppercase;
    color: black;
    display: inline-block;
}
#tierdetail_info > table > tr > td > h2 {
    font-size: 1.2vw;
    color: black;
}
#tierdetail_info >table > tr > td:nth-last-of-type(2n+2){
    width: 30%;
}
input {
    height: 3vw;
    width: 13vw;
    color: white;
    background-color: #339974;
    border: none;
    font-size: 1vw;
}
input:hover {
    background-color: #2A8262;
}

#weiteretiere > .weiteretiere_bild {
    height: 17vw;
    width: 17vw;
    object-fit: cover;
    display: inline-block;
    margin: 0.5vw;
}

#weiteretiere > .weiteretiere_rahmen {
    display: inline-block;
    height: 22vw;
    width: 18vw;
    padding: 0vw;
    margin-top: -1.8vw;
    background-color: rgba(81, 154, 114, 50%);
    margin: 1.5vw;
}

#weiteretiere > .weiteretiere_rahmen > h1 {
    font-size: 1.2vw;
    text-transform: uppercase;
    color: white;
    padding: 1.1vw;
    display: inline-block;
    padding-top: 1.8vw;
}

#weiteretiere > .weiteretiere_rahmen > h1:hover {
    cursor: pointer;
}

#tierdetail_weiteretiere > #weiteretiere_ueberschrift {
    font-size: 1.7vw;
    text-transform: uppercase;
    color: #339974;
    margin-left: 17.5vw;
}

#tierdetail_weiteretiere{
    margin-top: 22vw;
    margin-left: 18vw;
    margin-bottom: 3vw;
}

.weiteretiere_geschlecht {
    height: 2.9vw;
    display: inline-block;
    margin-top: -1.4vw;
    margin-left: -0.8vw;
    width: auto;
}

#tierdetail_info > table > tr > td > .fehleranmelden {
    font-size: 1vw;
    color: #2A8262;
    display: inline;
}