@page "/unseretiere"
@using TierheimDhiliUndJustus.BLL;
@using TierheimDhiliUndJustus.DAL;
@using MySqlConnector;
@using System.Drawing;
@using System.Data.SqlClient;
@using System.IO;


<PageTitle>Unsere Tiere</PageTitle>

<div id="backnav">
    <a href=""><p>Startseite</p></a><p> > </p><a href=""><p>Unsere Tiere</p></a>
</div>

<div id="alletiere">
    <img id="unseretiere_ueschrift" src="/img/unseretiere.png" alt="Unsere Tiere"/>
    <div id="unseretiere_bilder">
            
    @foreach(var item in lsttier)
    {
        string srcgeschlecht = st.GetGeschlecht(item.ID_Tier);
        string srcbild = TierheimDhiliUndJustus.DAL.Tier_DA.GetImage(item.ID_Tier);
        <div class="unseretiere_rahmen"><img class="unseretiere_bild" src=@srcbild />
        <h1>@item.Tiername</h1>
        <img class="unseretiere_geschlecht" src=@srcgeschlecht /></div>
        counter++;
        @if(counter % 3 == 0)
        {
                <div id="block"></div> 
        }

    }
    </div>

</div>

@*<aside>
    <h1>hallo</h1>
</aside>*@


@code{
    public int counter = 0;
    public string geschlechtsource = "";
    public static List<Tier> lsttier = Tier_DA.GetTier();
    public Startseite st = new Startseite();
}
